<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} FLASK-PYTHON {% endblock %} | KeepCoding</title>
  </head>
  <body>
    <h1>El coche de tus sueños esta aquí</h1>
    <hr />
    <ul>
      <li>
        <a href="{{url_for('index')}}">Inicio</a>
      </li>
      <li>
        <a href="{{url_for('informacion')}}">Informacion</a>
      </li>
      <li>
        <a href="{{url_for('contacto')}}">Contacto</a>
      </li>
      <li>
        <a href="{{url_for('lenguajes')}}">Coches</a>
      </li>
    </ul>
    <hr />

    <section id="content">{% block content %} {% endblock %}</section>

    <footer>
      <h4>App con flask y Python</h4>
    </footer>
  </body>
</html>
